<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class = 'main_login'>
        <div class = 'left_login'>
            <h1>Faça Login <br> E mate seu desejo de doces &#129473;</h1>
            <img src="/static/cherry-pie-slice-animate (1).svg" class="bolo" alt="Torta">
        </div>
        <div class= 'right_login'>
            <div class = 'card_login'>
                <h1>Login</h1>
                <div class = 'text_field'>
                    <label for="usuario">Usuário</label>
                    <input type="text" name="usuario" placeholder="Usuário">
                </div>
                <div class = 'text_field'>
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="Senha">
                </div>
                <button class = 'botao_login'>Login</button>
                <a href="/cadastro">Cadastrar-se</a>
            </div>
        </div>
    </div>
</body>
</html>